<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="height:600px; background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- <div class="site-heading">
                    <h1>Card</h1>
                    <hr class="small">
                    <span class="subheading">Make your life simple</span>
                </div> -->
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-md-4 info-icons">
            <i class="fa fa-bullhorn fa-7x"></i>
            <h1>What</h1>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <i class="fa fa-subway fa-7x"></i>
            <h1>Why</h1>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <i class="fa fa-usd fa-7x"></i>
            <h1>How</h1>
        </div>
    </div>
</div>
